<div class="fondoIndex">
<figure class=" col-12"><img src="../images/logo.png" alt="" class="logo col-4"></figure>

<figure class="col-3 circulos"><a href="products/type/eyes"><img class="col-10 type" src="../images/eyes.jpg" alt=""></a></figure>
<figure class="col-3 circulos"><a href="products/type/face"><img class="col-10 type" src="../images/face.jpg" alt=""></a></figure>
<figure class="col-3 circulos"><a href="products/type/lips"><img class="col-10 type" src="../images/lips.jpg" alt=""></a></figure>



    <footer class="footer-index"><h2 class="texto-footer ">Copyright © Zoe Beauty Inc. All Rights Reserved</h2></footer>

</div>