<figure class="logo col-12"><img src="../images/logo.png" alt="" class=" col-4"></figure>


<figure class="col-3 circulos"><a href="products/eyes"><img class="col-10 type" src="../images/eyes.jpg" alt=""></a></figure>
<figure class="col-3 circulos"><a href="products/face"><img class="col-10 type" src="../images/face.jpg" alt=""></a></figure>
<figure class="col-3 circulos"><a href="products/lips"><img class="col-10 type" src="../images/lips.jpg" alt=""></a></figure>

