<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Roboto:300" rel="stylesheet">
    <script src="https://use.fontawesome.com/e2ab349432.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<i class="fa fa-bars fa-3x" aria-hidden="true"></i>
<div class="menu col-3">
    <ul>
        <li>
            <h1>
            Type
            </h1><a href="/products/type/eyes">
            <p>Eyes</p>
        </a><a href="/products/type/lips">
            <p>Lips</p>
        </a><a href="/products/type/face">
            <p>Face</p>
        </a>
        </li>
        <li>
            <h1>
                Brand
            </h1><a href="/products/brand/Anastasia">
            <p>Anastasia</p>
        </a><a href="/products/brand/NARS">
            <p>NARS</p>
        </a><a href="/products/brand/tarte">
            <p>tarte</p>
        </a>
            </a><a href="/products/brand/Urban Decay">
            <p>Urban Decay</p>
        </a>
        </li>
        <li>
            <h1>
                Price
            </h1><a href="/products/price/20">
            <p>Under $20</p>
        </a><a href="/products/price/21">
            <p>Between $20 and $40</p>
        </a><a href="/products/price/40">
            <p>Over $40</p>
        </a>
        </li>
        <li>
            <h1>
                Rate
            </h1><a href="/products/rate/under">
            <p>Under 4.0</p>
        </a><a href="/products/rate/over">
            <p>Over 4.0</p>
        </a>
        </li>
        <li>
            <h1>
                Sold Items
            </h1><a href="/products/sold/100">
            <p>100</p>
        </a><a href="/products/sold/200">
            <p>200</p>
        </a><a href="/products/sold/300">
            <p>300</p>
        </a>
            </a><a href="/products/sold/400">
            <p>400</p>
        </a>
        </li>
        <li>
            <a href="/products" class="view-all">
            <h1>
                View All
            </h1>
        </a>
            <a href="/products/selected" class="view-all">
                <h1>
                    Go to my cart
                </h1>
            </a>
    </ul></div>
<div class="visible"></div>
{{{body}}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<script src="/javascripts/mouse.js"></script>-->

<script src="/javascripts/script.js"></script>
</body>


</html>