<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Cookie|Roboto:100" rel="stylesheet">
    <script src="https://use.fontawesome.com/e2ab349432.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{{body}}}
</body>
</html>