
<div class="col-12">

<section class="lista-productos  col-10">
<ul>

    <li >{{#each rutas}}
        <figure class="display-productos col-divi-5"><img class="producto" src={{this}} alt=""></figure>
    {{/each}}</li>
</ul>
</section>
</div>