<header><figure class="logo col-12"><a href="/"><img src="/images/logo.png" alt="" class=" col-2"></a></figure></header>
<div class="col-12 list">

<section class="lista-productos  col-10">
<ul>

    <li >{{#each rutas}}
        <figure class="display-productos col-divi-5"><a href="/products/details/{{name}}"><img class="producto" src={{dir}} alt=""></a></figure>
    {{/each}}</li>
</ul>
</section>
</div>

<footer><h2 class="texto-footer">Copyright © Zoe Beauty Inc. All Rights Reserved</h2></footer>