html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0;}
/* General */

/* Grid */
.col-1{ width:8.1%; }
.col-2{ width:16.43%; }
.col-3{ width:24.80%; }
.col-4{ width:33.1%; }
.col-5{ width:41.43%; }
.col-6{ width:49.80%;}
.col-7{ width:58.1%; }
.col-8{ width:66.43%; }
.col-9{ width:74.80%; }
.col-10{ width:83.1%; }
.col-11{width: 91.40%; }
.col-12{width: 100%; }
.col-divi-5{width: 19%; }
.visible{
  width: 100vw;
  height: 100vh;
  position: fixed;
background-color: black;
  opacity: 0.8;
  z-index: 18;
}
.menu{
  display: table;

  z-index: 19;
  position: fixed;
 left:-100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 0px 8px rgba(199,161,84,1);
  -moz-box-shadow: inset 0px 0px 0px 8px rgba(199,161,84,1);
  box-shadow: inset 0px 0px 0px 8px rgba(199,161,84,1);
}


p{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 13pt;

  display: inline-block;
  margin:10px;
}
p:hover{
  color: #be9c6a;
}
a>h1:hover{
  color: white;
}
.menu>ul{
  display: table-cell;
  vertical-align: middle;
 /* top:50%;
 transform: translateY(50%);*/
  text-align: center;
}
a{
  font-style: normal;
  text-decoration: none;
}
.fondoIndex{
  position: absolute;
  height: 100vh;
 background: linear-gradient(to bottom, #444 0%,#000000 20%);
  background-repeat: no-repeat;
  text-align: center;
  background-color: black;

}

h1{
  font-family: 'Cookie', cursive;
  color: #ba8a4d;
  font-size: 28pt;
  text-align: center;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
}

/* index */
.logo{
  margin-top: 15vh;
  text-align: center;
}

.circulos{
  display: inline-block;
}

.type{
  margin-top: 5vh;
  -webkit-clip-path: circle(40% at center);
  filter:grayscale(100%);
  opacity: 0.15;
 transition: all 0.5s ;


}
.type:hover{


  -webkit-clip-path: circle(50% at center);
  filter:grayscale(0%);
  opacity: 1;

}
/* products */

.display-productos{
  display: inline-block;
  margin-left: 0px;


}

.lista-productos{
  margin-left: 8.1%;
transform: translateY(15vh);
z-index: 0;
margin-bottom: 11vh;
}

header{
  width: 100vw;
  position: fixed;
  margin:0;
  background: linear-gradient(to bottom, #444 0%,#000000 50%);
  background-repeat: no-repeat;
  background-color: black;
z-index: 10;
}
footer{
  width: 100vw;
  height: 10vh;
  position:fixed;
  left:0px;
  bottom:0px;

  background: linear-gradient(to bottom, #444 0%,#000000 30%);
 background-repeat: no-repeat;
  background-color: black;
  z-index: 9;
}
.texto-footer{
opacity: 0.5;
  text-align: center;
  line-height: 450%;
}
header>.logo{
  text-align: center;
  margin: 0;
 padding: 2vh 0 2vh 0;
}
.producto{
opacity: 0.8;
  filter:sepia(90%) brightness(70%) contrast(300%) hue-rotate(-8deg) grayscale(0%);

  width: 80%;
  margin: 10%;
  border: 10px solid;
  border-style: inset;
  border-image: linear-gradient(to bottom, #533a1f 0%, #ba8a4d 100%);
  border-image-slice: 1;

  transition: all 0.5s ;
}
 .producto:hover{
   transform: translateY(-5px);
opacity: 1;
   filter:sepia(0%);
 }
.footer-index{
background: none;

}
.fa-bars, .fa-times{
  color: #be9c6a;
  z-index: 20;
  position: fixed;
  margin: 35px 35px 0 0;
  margin: 35px 0 0 35px;

}

.details-product{
  transform: translateY(20vh);
  text-align: center;
margin-left:16.43% ;

}

.description{
  color: black;
  font-size: 16pt;
  text-align: left;

}
.detail-image{
  float: left;
}
.detail-image>img{
  border: 10px solid;
  border-style: inset;
  border-image: linear-gradient(to bottom, #533a1f 0%, #ba8a4d 100%);
  border-image-slice: 1;
}
.name-product{
float: left;
  margin-left: 40px;

}
.name-product>div{

}
.name-product>div>h1{
  font-size: 30pt;
}
.precio{
  text-align: right;
}
.buy{
  text-align: left;
}

/* Responsive design */


@media only screen and (max-width: 769px){
  .col-1{width: 32.85%; }
  .col-2{width: 49%; }
  .col-3{ width:100%; }
  .col-4{width: 100%; }
  .col-5{width: 100%; }
  .col-6{ width:100%; }
  .col-7{width: 100%;}
  .col-8{ width:100%; }
  .col-9{width: 100%; }
  .col-10{width: 100%; }
  .col-11{width: 100%; }
  .col-12{width:100%; }
  .col-divi-5{width: 49%; }

header{
  text-align: center;
}
  .logo{
    margin-top: 10vh;
    text-align: center;
    width:60%;
    margin: 10px;
  }
  header>.logo{
width: 100%;
    text-align: center;
  }
  .lista-productos{
    margin-left: 0;
    transform: translateY(28vh);
    margin-bottom: 20.5vh;
  }
  .fa-3x{
    width: 10%;
  }
  .display-productos{

    margin-left: -5px;
  }
  .fondoIndex{
    height: 100vh;
    text-align: center;
    position: fixed;
  }
  header>.logo{
    padding: 5vh 0 5vh 0;
    text-align: center;
  }
  .type{
    width: 70%;
    margin-top: 5vh;
    -webkit-clip-path: circle(50% at center);
    filter:grayscale(0%);
    opacity: 1;

  }
  .circulos{
    width:40%;
  }
  .producto{
    transform: translateY(-5px);
    opacity: 1;
    filter:sepia(0%);
  }
  .menu{

    left:-100%;

  }

}

